{% extends 'base.html.twig' %}

{% block title %}Add user{% endblock %}

{% block body %}
    {{ include('user/app.html.twig') }}
    <h1 class="h2" style="text-align: left; line-height:60px; margin-left: 40px;" >Add User</h1>
    {{ include('user/formadd.html.twig') }}
    
{% endblock %}
