{% extends 'base.html.twig' %}

{% block title %}Update user{% endblock %}
{% block body %}
{{ include('user/app.html.twig') }}
    <h1 class="h2" style="text-align: left; line-height:60px; margin-left: 40px;" >Update user</h1>
    {{ include('user/formupdate.html.twig') }}
{% endblock %}
